# OPC UA certificates directory
opcua_certs/
client/

# SSL configuration file
ssl.conf


# General patterns (optional, to catch any other generated or temporary files)
*.log
*.tmp
*.bak
*.swp
__pycache__/
*.pyc
.venv/

